[package]
name = "init"
version = "0.1.0"
edition = "2021"

[dependencies]

[[bin]]
name = "init"
path = "src/main.rs"

[[bin]]
name = "listener"
path = "src/listener.rs"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
codegen-units = 1
